$circles: #0086D0, #006DB5, #00559A, #003E7F, #002966, #00154D;
// $circles: #0086D0, #006DB5, #00559A, #00154D, #002966, #003E7F;
$circlesCount: length($circles);
$circlesMiddle: round($circlesCount / 2);
$circle-default-heigth: 11vw;
$circle-default-width: 11vw;
$circle-darken-amount: 3%;

$bar-tick-min-height: 45;
$bar-tick-min-height-tablet: 30;
$bar-tick-min-height-mobile: 50;