// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);
$enable-rounded: true;

// Then include the following
// @import 'bootstrap/scss/bootstrap.scss';
@import './bootstrap/_bootstrap.scss';
// @import 'bootstrap-vue/src/index.scss';
@import './bootstrapVue/_index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
