@import '_variables';
@import 'sidebar';
@import 'content';

body {
  background-color: #fafbfe;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}