.chart {
  &-container {
    position: relative;
    margin: auto;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $chart-container-sizes {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      $half: $size - 5;
      $half-length: #{$size - 5}vh;
      .chart-h#{$infix}-#{$half} { height: $half-length !important; }
      .chart-h#{$infix}-#{$size} { height: $length !important; }
    }
  }
}