.chart {
  &__container {
    position: relative;
    margin: auto;
    max-height: 250px;
    height: 100%;
  }

  @include media-breakpoint-down(md) {
    &__container-sm {
      position: relative;
      margin: auto;
      max-height: 250px;
    }
  }
}