.content-page {
  overflow: hidden;
  min-height: 100vh;

  @include media-breakpoint-down(lg) {
    &.collapsed {
      z-index: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    transition: margin-left .5s ease;

    &:not(.collapsed) {
      margin-left: 0;
    }
    
    &.collapsed {
      margin-left: $sidebar-width;
    }
  }
}