.dashNav {
  transition: background-color 0.5s;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% - 260px);
    margin-left: auto;
  }

  &.scrolled {
    background-color: #fafbfe;
    box-shadow: 5px 0rem 0.35rem rgb(0 0 0 / 8%) !important;
  }

  &:not(.scrolled) {
    background-color: transparent;
  }

  &__search,
  &__search:-webkit-autofill {
    background-color: rgb(255 255 255 / 5%) !important;
    border-color: transparent !important;
    color: $light !important;

    &::placeholder {
      color: $gray-600;
      font-size: 13px;
    }

    &:hover,
    &:focus {
      background-color: rgb(255 255 255 / 15%) !important;
      border-color: #798ea2 !important;
      box-shadow: none !important;
      &::placeholder {
        color: $gray-500;
      }
    }    
  }

  &__search:-webkit-autofill {
    transition: background-color 2500s ease-in-out 0s;
    -webkit-text-fill-color: $light !important;
  }

  &__toolWrapper {
    @include media-breakpoint-down(lg) {
      position: absolute;
      width: 100%;
      top: 3rem;
      overflow: hidden;
      visibility: hidden;

      &:not(.active) {
        animation: slide-up 0.3s linear both;
      }

      &.active {
        animation: slide-down 0.3s linear both;
      }
    }
  }

  &__tool {
    background-color: rgb(255 255 255 / 5%) !important;
    border-color: transparent !important;

    button {
      color: $gray-400;

      &:hover,
      &:visited,
      &:focus {
        color: white !important; 
      }

      &:visited,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

@keyframes slide-down {
  from {
    visibility: hidden;
    height: 0;
  } to {
    visibility: visible;
    height: 56px;
  }
}

@keyframes slide-up {
  from {
    visibility: visible;
    height: 56px;
  } to {
    visibility: hidden;
    height: 0;
  }
}
