.landingIntro {
  position: relative;
  background: linear-gradient(45deg, #153D77, #2F70AF);
  padding: 3rem 0rem 6rem;
  margin-bottom: 5rem;

  &::before {
    content: " ";
    position: absolute;
    bottom: 0rem;
    height: 7rem;
    width: 100%;
    background: linear-gradient(-2.9deg, #fafbfe 49.7%, transparent 49.99%);
  }

  &__screenshot {
    width: 100%;
    border-radius: 3px;
  }
}
